body{
	color: #555;
	margin: 0;
	font-size: 20px;
	overflow-x: hidden; /*para eliminar scroll horizontal*/
}
/**/
nav{
	width: 100%;
	height: 50px;
	background-color: #eee;
	overflow: hidden; /*propiedad para que no se desborden los textos o cajas dentro de otras cajas*/
	opacity: 0.8;
	transition-duration: 0.6s;
}
nav:hover{
	opacity: 1;
}
ul{
	margin: 0;
}
li{
	float: left;
	width: 18%;
	color: #555;
	text-align: center;
	list-style: none;
	margin-top: -42px;
	transition-duration: 0.6s; /*establece el tiempo que durara la animación*/
}
li:hover{
	margin-top: 4px;
}
.ico{
	width: 40px;
	height: 40px;
}
.capa-ico{
	width: 100%;
	height: 40px;
	float: left;
	text-align: center;
	padding: 5px 0 5px 0;
	cursor: pointer; /*para que salga la manita cuando se coloca el cursor encima*/
	position: relative;
}
nav + div{/*selector de hermanos adyacentes*/
	width: 85%;
	height: auto;
	margin: 0 auto;
	border: 6px solid #999;
	border-radius: 10px 80px 80px 10px;
	background-color: #fff;
	margin-top: 300px;
	padding: 20px 5ppx 20px 5px;
	text-align: justify;
	opacity: 0.9;
	transition-duration: 0.6s;
}
nav + div:hover{
	background-color: #666;
	color: #eee;
	border-color: #eee;
	opacity: 1;
}
.img-pez{
	width: 210px;
	height: auto;
	padding: 20px;
	float: left;
	text-align: center;
}
[src^="pez"]{/*selector de atributos*/
	width: 200px;
	height: 200px;
	float: left;
	border-radius: 150px;
	border:2px solid #999;
	box-shadow: 5px 5px 8px #333;
}
.img-pez + div{
	width: 65%;
	height: auto;
	margin: 0 0 30px 10px;
	overflow: hidden; /*para cualquier cosa que se salga no se vea*/
}
#fondoMarino{
	width: 100%;
	height: auto;
	background-image: url(image/fondoMarino.jpg);
	background-size: 100% auto;
	padding-bottom: 50px;
}
#pezPortada{
	width: 300px;
	height: 300px;
	background-image: url(image/pezPortada.png);
	background-size: 300px 300px;
	position: absolute;
	top: 100px;
	left: 50px;
	z-index: 50;
}
#algas{
	width: 400px;
	height: 280px;
	background-image: url(image/alga.png);
	background-size: 400px 280px;
	position: absolute;
	top: 70px;
	right: 30%;
	opacity: 0.6;
}
#anzuelo{
	width: 50px;
	height: 150px;
	background-image: url(image/anzuelo.png);
	background-size: 50px 150px;
	position: fixed;
	top: 0px;
	right: 5%;
	z-index: 20;
	transition-duration: 0.5s;
}
#anzuelo:hover{
	margin-top: 20px;
}
#b1, #b2, #b3, #b4{
	width: 30px;
	height: 30px;
	background-image: url(image/burbuja.png);
	background-size: 30px 30px;
	position: absolute;
	top: 330px;
	right: 100px;
	opacity: 0.3;
	z-index: 20;
}
#b1{ /*animaciones con CSS3*/
	animation-name: bUno;
	animation-duration: 23s;
	-webkit-animation-name: bUno; /*uso de los prefijos para que se vean en los navegadores*/
	-webkit-animation-duration: 23s;
	animation-iteration-count: infinite; /*para que la animacion se haga indefinidamente*/
}
@-webkit-keyframes bUno{/*nombre de la animacion a crear*/
	from{} /*Inicio de la animación*/
	to{margin-top: -500px;}/*fin de la animación para que la burbuja se salga por encima de la pantalla*/
}
#b2{ /*animaciones con CSS3*/
	animation-name: bDos;
	animation-duration: 15s;
	-webkit-animation-name: bDos; /*uso de los prefijos para que se vean en los navegadores*/
	-webkit-animation-duration: 15s;
	animation-iteration-count: infinite; /*para que la animacion se haga indefinidamente*/
}
@-webkit-keyframes bDos{/*nombre de la animacion a crear*/
	from{margin-right: 550px;} /*Inicio de la animación*/
	to{margin-top: -500px; margin-right: 560px;}/*fin de la animación para que la burbuja se salga por encima de la pantalla*/
}	
#b3{ /*animaciones con CSS3*/
	animation-name: bTres;
	animation-duration: 33s;
	-webkit-animation-name: bTres; /*uso de los prefijos para que se vean en los navegadores*/
	-webkit-animation-duration: 33s;
	animation-iteration-count: infinite; /*para que la animacion se haga indefinidamente*/
}
@-webkit-keyframes bTres{/*nombre de la animacion a crear*/
	from{margin-right: 190px;} /*Inicio de la animación*/
	to{margin-top: -500px; margin-right: 195px;}/*fin de la animación para que la burbuja se salga por encima de la pantalla*/
}	
#b4{ /*animaciones con CSS3*/
	animation-name: bCuatro;
	animation-duration: 20s;
	-webkit-animation-name: bCuatro; /*uso de los prefijos para que se vean en los navegadores*/
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite; /*para que la animacion se haga indefinidamente*/
}
@-webkit-keyframes bCuatro{/*nombre de la animacion a crear*/
	from{margin-right: 350px;} /*Inicio de la animación*/
	to{margin-top: -500px; margin-right: 350px;}/*fin de la animación para que la burbuja se salga por encima de la pantalla*/
}	
#pezRayado, #pecesAtras, #bancoPecesLentos, #bancoPecesRapidos{
	width: 200px;
	height: 200px;
	position: absolute;
	background-size: 200px 200px;
}
#pezRayado{
	background-image: url(image/pezRayado.png);
	top: 100px;
	z-index: 40;

	animation-name: pezRayado;
	animation-duration: 100s;
	-webkit-animation-name: pezRayado; 
	-webkit-animation-duration: 100s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes pezRayado{
	from{margin-left: -200px;}
	to{margin-left: 2200px;}
}
#pecesAtras{
	background-image: url(image/pecesAtras.png);
	top: 50px;
	z-index: 0;

	animation-name: pecesAtras;
	animation-duration: 100s;
	-webkit-animation-name: pecesAtras; 
	-webkit-animation-duration: 100s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes pecesAtras{
	from{margin-left: -200px;}
	to{margin-left: 1200px;}
}
#bancoPecesRapidos{
	width: 40%;
	height: 200px;
	background-image: url(image/bancoPecesRapidos.png);
	background-size: 100% 200px;
	top: 90px;
	left: 1300px;

	animation-name: bancoPecesRapidos;
	animation-duration: 20s;
	-webkit-animation-name: bancoPecesRapidos; 
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes bancoPecesRapidos{
	from{margin-left: 2000px;}
	to{margin-left: -4000px;}
}
#bancoPecesLentos{
	width: 80%;
	height: 250px;
	background-image: url(image/bancoPecesLentos.png);
	background-size: 100% 200px;
	top: 50px;
	left: 1300px;

	animation-name: bancoPecesLentos;
	animation-duration: 60s;
	-webkit-animation-name: bancoPecesLentos; 
	-webkit-animation-duration: 60s;
	animation-iteration-count: infinite;
}
@-webkit-keyframes bancoPecesLentos{
	from{margin-left: 20px;}
	to{margin-left: -3000px;}
}